* {
    padding: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(143, 46, 234);
}

.header {
    background-color: white;
    position: absolute;
    top: 30px;
    left: 100px;
    height: 100px;
    width: 350px;
    border-radius: 10px;
    border: 0.655172px solid rgba(0, 0, 0, 0.13);
    box-shadow: 10px 6.55172px 32.7586px 4.27586px rgba(0, 0, 0.10, 0.60);

}

.input {
    height: 30px;
    width: 220px;
    font-size: 20px;
    margin-top: 35px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0.6px solid rgba(0, 0, 0, 0.30);
}

.add {
    background-color: rgba(100, 10, 185, 0.914);
    color: white;
    border: none;
    font-size: 15px;
    height: 30px;
    left: 250px;
    margin-left: 20px;
    width: 60px;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    cursor: pointer;
}

.output {
    position: absolute;
    left: 600px;
    top: 200px;
    height: 300px;
    text-align: center;
}

.toDoList {
    font-size: 100px;
    color: white;
    position: relative;
    left: 35px;
    margin-bottom: 120px;
}

.paragraph {
    position: relative;
    bottom: 90px;
    left: 50px;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-size: 60px;
    width: 650px;
    padding: 20px;

}

.display {
    height: 40px;
    position: relative;
    bottom: 41.2px;
}

.list {
    margin-left: 30px;
    font-size: 18px;
    position: relative;
    top: 50px;
}

.button {
    border: none;
    position: relative;
    height: 25px;
    left: 290px;
    width: 30px;
    cursor: pointer;
}

.image {
    position: relative;
    border-radius: 5px;
    padding: 2px;
    height: 25px;
    right: 5px;
    background-color: rgba(100, 10, 185, 0.914);
    cursor: pointer;
}

hr {
    margin-left: 30px;
    margin-right: 35px;
    position: relative;
}

.baseBoard {
    position: relative;
    border-radius: 10px;
    background-color: white;
    top: 180px;
    left: 100px;
    width: 350px;
    height: 500px;
    border-left: 0.655172px solid rgba(0, 0, 0, 0.13);
    border: 0.655172px solid rgba(0, 0, 0, 0.13);
    border-right: 0.655172px solid rgba(0, 0, 0, 0.13);
    box-shadow: 10px 6.55172px 32.7586px 4.27586px rgba(0, 0, 0.10, 0.60);
}